@import url('https://fonts.googleapis.com//css2?family=Montserrat:wght@400;600;700&display=swap');

body, html {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}
h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.nav-container {
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

.logo-circle {
    width: 60px;
    height: 60px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.logo-circle img {
    width: 40px ;
    height: auto;
}

nav {
    background-color: #1eb300;
    padding: 5px 0;
    width: 100%;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 10px;
}

nav .nav-link {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: #333; 
    font-size: 18px;
    font-weight: bold;
    padding: 15px 15px;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 5px;
}

.nav-link {
    transition: color 0.2s ease, background-color 0.2s ease;
}

nav .nav-link:hover {
    background-color: white;
    color: #1eb300;
}

.nav-item.dropdown:hover > .nav-link {
    background-color: white;                                                                                                                     
    border-radius:  5px;
    color: #1eb300;
}

.nav-item.dropdown:hover .dropdown-menu {
    display: block;
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
    margin-top: 0;
}

.navbar .dropdown-menu{
    top: 100%;
    margin-top: 0;
    min-width: 180px;
    text-align: left;
}

.dropdown-item {
    padding: 8px 16px;
    font-family: 'Monserrat', sans-serif;
    font-size: 16px;
    color:#333;
    transition: background-color 0.2s ease;
}

.dropdown-item:hover {
    background-color: #1eb300;
    color: white;
}

.dropdown-menu {
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    margin-top: 0;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    transition: all 0.2s ease;
    background-color: white;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.presentation-card {
    background-color: white;
    padding: 80px;
    max-width: 1200px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.presentation-wrapper {
    padding: 100px 60px;
}

.page-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 30px;
    position: relative;
    color: #1a1a1a
}

.page-title::after {
    content:" ";
    display: block;
    width: 100px;
    height: 4px;
    background-color: #1eb300;
    margin: 12px auto 0;
    border-radius: 2px;
}

.page-content{
    padding: 40px 20px;
}

.hero-banner {
    background-image: url('images/tourists-go-up-hill-sunrise.jpg');
    background-size: cover;
    background-position: center;
    height: 900px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

.hero-banner::before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.4);
    z-index: 1;
}

.hero-content {
    margin-top: -20px;
    position: relative;
    z-index: 2;
}

.hero-logo-text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-q {
    height: 60px;
    width: auto;
    vertical-align: middle;
}

.logo-text {
    align-items: center;
    font-family: 'Monserrat', sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: -1px;
    display: inline-flex;
}

.hero-slogan {
    font-family: 'Monserrat', sans-serif;
    font-size: 22px;
    font-weight: 600;
    margin-top: 10px;
    color:white;
}